@font-face {
  font-family: 'FuturaBookC';
  src: url('/assets/fonts/futurabookc.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaDemiC';
  src: url('/assets/fonts/futurademic.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaMediumC';
  src: url('/assets/fonts/futuramediumc.otf');
  src: url('/assets/fonts/futuramediumc.eot?#iefix') format('embedded-opentype'), 
        url('/assets/fonts/futuramediumc.woff2') format('woff2'), 
        url('/assets/fonts/futuramediumc.woff') format('woff'), 
        url('/assets/fonts/futuramediumc.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YesevaOne';
  src: url('/assets/fonts/YesevaOne.eot');
  src: url('/assets/fonts/YesevaOne.eot?#iefix') format('embedded-opentype'), 
      url('/assets/fonts/YesevaOne.woff2') format('woff2'), 
      url('/assets/fonts/YesevaOne.woff') format('woff'), 
      url('/assets/fonts/YesevaOne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaRg';
  src: url('/assets/fonts/ProximaNova-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaBd';
  src: url('/assets/fonts/ProximaNova-Bold.ttf');
        src: url('/assets/fontsProximaNova-Bold.eot?#iefix') format('embedded-opentype'), 
        url('/assets/fonts/ProximaNova-Bold.woff2') format('woff2'), 
        url('/assets/fonts/ProximaNova-Bold.woff') format('woff'), 
        url('/assets/fonts/ProximaNova-Bold.eot') format('truetype');
  font-weight: bold;
  font-style: normal;
}