@import "fonts";

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

$futuraDemicFace: "FuturaDemiC", sans-serif;
$futuraBookFace: "FuturaBookC", sans-serif;
$yesevaOneFace: "YesevaOne", serif;
$mainTextColor: #e3b873;
$borderColor: #ffffff;
$textColor: #ffffff;
$linkColor: #e3b873;
$bgColor: #131313;
$mainFont: 14px;


body {
  margin: 0;
  padding: 0;
  font-size: $mainFont;
  font-family: $futuraBookFace;

  a {
    text-decoration: none;
  }
}

article {
  width: 1438px;
  margin: 0 auto;

  @media (max-width: 375px) {
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }
}

header {
  width: inherit;
  height: 83px;
  display: flex;
  align-items: center;
  background: $bgColor;
  color: $mainTextColor;
  font-size: $mainFont;
  text-transform: uppercase;
  line-height: 16px;
    
  .logoText {
    @include size(180px, 18px);
    margin-left: 82px;
    margin-right: 15px;
    font-size: $mainFont - 2;
    color: $mainTextColor;
    font-weight: 500; 
    background: none;
    cursor: pointer;
  
    @media (max-width: 375px) {
      width: 150px;
      margin-left: 18px;
    }
  }
  
  nav {
    ul {
      li {
        display: inline;
        list-style-type: none;
        margin-left: 45px;
        
        a {
          color: $textColor;
        }

        a:hover {
          color: $linkColor;
        }
      }
    }

    @media (max-width: 375px) {
      display: none;
    }
  }

  .number {
    color: $linkColor;
    text-decoration: underline;
    margin-left: 80px;
    cursor: pointer;

    @media (max-width: 375px) {
      margin-left: 56px;
    }
  }

  .request-a-call {
    padding: 9px 36px;
    background: $linkColor; 
    text-align: center;
    border-radius: 2px;
    margin-left: 45px;
    border: 2px solid $linkColor;
    box-sizing: border-box;

    a {
      font-size: $mainFont - 1px;
      color: $textColor;
      font-weight: 400;
    }

    @media (max-width: 375px) {
      display: none;
    }
  }

  .request-a-call:hover {
    border: 2px solid $borderColor;
  }
}

.instagram {
  @include size(82px, 707px);
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  background: $bgColor;
  color: $mainTextColor;
  text-transform: uppercase;
  
  div {
    display: flex;
    transform: rotate(90deg);

    a {
      font-weight: 500px;
      color: $mainTextColor;
    }

    span {
      margin-left: 10px;
    }
  }

  @media (max-width: 375px) {
    display: none;
  }
}

.turnkey-rapair {
  @include size(1356px, 706px);
  margin-left: 82px;
  border-top: 1px solid;
  background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)), 
        url(/assets/img/main-bg.png);

  &-text {
    margin: 194px 0 0 60px;

    @media (max-width: 375px) {
      margin-top: 80px;
      margin-left: 18px;
    }
  }

  &-main-text {
    width: 676px;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: $textColor;
    font-family: YesevaOne;
    line-height: 54px;
    text-transform: uppercase;
    margin: 0;

    span {
      color: $mainTextColor;
    }

    @media (max-width: 375px) {
      font-family: Yeseva One;
      font-style: normal;
      font-weight: normal;
      font-size: 23px;
      line-height: 132.83%;
    }
  }

  &-secondary-text {
    @include size(470px, 89px);
    font-family: FuturaBookC;
    font-size: 22px;
    margin-top: 10px;
    color: $textColor;
    font-weight: 100;
    line-height: 30px;

    @media (max-width: 375px) {
      @include size(309px, 94px);
      font-family: FuturaBookC;
      font-size: 18px;
      line-height: 135.84%;

      .w-break {
        display: none;
      }
    }
  }

  &-buttons {
    margin-top: 41px;

    @media (max-width: 375px) {
      display: flex;
      flex-direction: column;
    }
  }

  &-button {
    font-family: FuturaDemiC;
    font-size: 13px;
    color: $textColor;
    line-height: 15px;
    text-align: center;
    margin-right: 20px;
    padding: 19px 41px;
    border: 1px solid $textColor;
    border-radius: 3px;
    transition: background-color .2s linear;

    &:hover {
      background-color: $linkColor;
      transition: background-color .2s linear;
    }
  
    @media (max-width: 375px) {
      margin-bottom: 26px;
      border-radius: 0px;
    }

  }

  &-fix {
    padding: 19px 23px;
  }

  &-scroll {
    position: absolute;
    transform: translateX(-100px) translateY(180px);
    display: flex;
    align-items: center;
    color: $textColor;
    text-transform: uppercase;
    font-family: "YesevaOne", serif;
    font-size: 14px;
    padding: 27px 20px;
    background-color: $bgColor;

    img {
      padding-left: 15px;
      cursor: pointer;
    }

    @media (max-width: 375px) {
      display: none;
    }
  }

  @media (max-width: 375px) {
    @include size(375px, 476px);
    margin: 0;
  }
}

.completed-rojects {
  @include size(1438px, 1074px);
  background: $bgColor;
}
